.sor{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.oszlop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}